<% content_for :title, @ctdown.title + ' - ' %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=118293624941348";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="container show">

  <h1><%= @ctdown.title %></h1>

  <% if @remaining >= 0 %>
    <div id="remaining"><p>Remaining<br /> ~ loading... ~ </p></div>

    <p>Goal: <%= @ctdown.goal.strftime('%B %e, %Y at %I:%M:%S %p') %></p>

    <script type="text/javascript">
      var remaining = <%= @remaining %>;

      var secondsToTime = function (s) {
        // Setup
        var secondsInAMinute = 60;
        var secondsInAHour   = secondsInAMinute * 60;
        var secondsInADay    = secondsInAHour * 24;
        var secondsInAMonth  = secondsInADay * 30;
        var secondsInAYear   = secondsInAMonth * 12;

        var years            = Math.floor(s / secondsInAYear);
        var monthSeconds     = s % secondsInAYear;
        var months           = Math.floor(monthSeconds / secondsInAMonth);
        var daySeconds       = monthSeconds % secondsInAMonth;
        var days             = Math.floor( daySeconds / secondsInADay );
        var hourSeconds      = daySeconds % secondsInADay;
        var hours            = Math.floor( hourSeconds / secondsInAHour );
        var minuteSeconds    = hourSeconds % secondsInAHour;
        var minutes          = Math.floor( minuteSeconds / secondsInAMinute );
        var secondSeconds    = minuteSeconds % secondsInAMinute;
        var seconds          = Math.ceil(secondSeconds);
        return {
          y:  years,
          mo: months,
          d:  days,
          h:  hours   < 10   ? '0' + hours   : hours,
          m:  minutes < 10   ? '0' + minutes : minutes,
          s:  seconds < 10   ? '0' + seconds : seconds
        }
      };

      var timer = function () {
        remaining--;
        if (remaining <= 0) {
          clearInterval(counter);
          location.reload(true);
        }
        var time = secondsToTime(remaining);
        var result = '<table class="date">' +
                        '<tr>' +
                          '<td>' + time.y + '</td>' +
                          '<td>' + time.mo + '</td>' +
                          '<td>' + time.d + '</td>' +
                        '</tr>' +
                        '<tr>' +
                          '<th>year</th>' +
                          '<th>month</th>' +
                          '<th>days</th>' +
                        '</tr>' +
                      '</table>' +
                      '<br />' +
                      '<table class="time">' +
                        '<tr>' +
                          '<td>' + time.h + '</td>' +
                          '<td>' + time.m + '</td>' +
                          '<td>' + time.s + '</td>' +
                        '</tr>' +
                        '<tr>' +
                          '<th>hours</th>' +
                          '<th>minutes</th>' +
                          '<th>seconds</th>' +
                        '</tr>' +
                      '</table>';
        document.getElementById('remaining').innerHTML = result;
      }
      var counter = setInterval(timer, 1000);
    </script>

  <% else %>
    <p>This countdown is over, you still can <%= link_to 'create one', root_path %>.</p>
    <p>End date: <%= @ctdown.goal.strftime('%B %e, %Y at %I:%M:%S %p') %></p>
  <% end %>

  <ul class="share-buttons">
    <li class="facebook">
      <!-- Facebook Like -->
      <div class="fb-like" data-href="<%= @share_url %>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
    </li>
    <li class="google">
      <!-- Google +1 -->
      <div class="g-plus" data-action="share" data-annotation="bubble" data-href="<%= @share_url %>"></div>
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
    </li>
    <li class="twitter">
      <!-- Twitter Tweet -->
      <div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= @share_url %>" data-text="<%= @ctdown.title %> <%= @share_url %>">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </li>
  </ul>

  <% if @remaining >= 0 %>
    <p class="create"><%= link_to 'Create a countdown', root_path %></p>
  <% end %>

</div>